*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  @font-face{
      font-family: inder;
      src: url(fontes/Inder-Regular.ttf);
  }
  
  @font-face{
      font-family: inter;
      src: url(fontes/Inter-Regular.ttf);
  }
  
  main{
    position: relative;
    background-color: #E5E5E5;
  }
  
  #purple-background{
    position: relative;
    width: 100%;
    height: 429px;
    background: #9D6BFF;
    border-radius: 0px 0px 35px 0px;
  }
  
  /* header inicio*/
  
  header{
    position: relative;
    width: 82%;
    height: 57px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-left: 9%;
    top: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: inter;
    font-size: 20px;
    border: #00000015 solid 1px;
  }
  
  .nav-title{
    width: 20%;
    height: 30px;
    margin: auto;
  }
  
  .nav-title a{
    text-decoration: none;
    color: #000000;
  }
  
  .title-purple{
    color: #9D6BFF;
  }
  
  .nav-elements{
    width: 60%;
    height: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-elements a{
    text-decoration: none;
    color: #000000;
  }
  
  /*header final*/
  .receita {
    width: 80vw;
    height: 61vh;
    margin: 10vh auto;
    display: flex;
}
.barralateral {
    height: 62vh;
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9D6BFF;
    border-right: 7px solid #7342d4;
    border-radius: 1vw 0 0 1vw;
}

.profile{
    width: 4vw;
    height: 8.5vh;
    border-radius: 100vw;
    margin-top: 2vh;
    background-image:url(images/fotoperfil.png);
    background-size: cover;
    cursor: pointer;
}

.seringa{
    margin-top: 5.5vh;
}
.alinhamento {
    width: 74vw;
    height: 62vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    border-radius: 0 1vw 1vw 0;
}
.notificacaopai{
    width: 75vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.notificacao{
    width: 67vw;
    height: 23vh;
    border-radius: 30px;
    background-color: #EAEAEA;
    display: flex;
    

}


.section1{
    width: 9vw;
    height: 23vh;
    display: flex;
    align-items: center;
    
    
}

.bolinha{
    width: 6.2vw;
    height: 13vh;
    border-radius: 100vw;
    background-image: url(images/ok.jpeg);
    background-size: cover;
    margin-left: 2vw;
    
}

.section2{
    width: 45vw;
    height: 23vh;
    
}

.nome{
    margin-top: 9vh;
}

.enviou{
    margin-top: 1vh;
    color: #8C8C8C;
}
.section3{
    width: 13vw;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.baixar{
    width: 7vw;
    height: 6vh;
    background-color: #9D6BFF;
    border-radius: 1vw;
    ;
}

.baixar a{
    text-decoration: none;
    color: #fff;
}

#acessibilidade{
    position: fixed;
    width: 3%;
    height: 55px;
    background-color: #FFF;
    right: 0%;
    top: 250px;
    border-radius: 100% 0 0 100%;
    border: 1px solid #616161;
    cursor: pointer;
    z-index: 4;
    display: block;}

#acessibilidade img{
    margin-left: 5px;
    margin-top: 10px;
    width: 80%;}

#acessibilidade-hid{
    position: fixed;
    width: 3%;
    height: 250px;
    background-color: #fff;
    right: 0%;
    top: 230px;
    border-radius: 40px 0px 0 40px;
    border: 1px solid #616161;
    visibility: hidden;
    z-index: 5;
    display: block;}

#acessibilidade-hid img{
    display: block;
    margin-left: 10%;}

.acess1{

    padding-top: 20px;
    padding-left: 2px;
    cursor: pointer;
    z-index: 1;}

.acess1-fake{
    width: 70%;
    margin-top: -24px;
    padding-left: 2px;
    cursor: pointer;
    z-index: 9999;
    visibility: hidden;}

.acess2{
    width: 80%;
    padding-left:4px;
    padding-top: 10px;}

.acess3{
    width: 65%;
    padding-left: 6px;
    padding-top: 10px;}

.acess4{
    width:70%;
    padding-top: 10px;
    padding-left: 2px;}

.acess5{
    width: 70%;
    padding-top: 15px;
    padding-left: 2px;}

.acess6{
    width: 80%;
    padding-top: 20px;
    padding-left: 2px;
    cursor: pointer;} 