*{
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face{
	font-family: inder;
	src: url(fontes/Inder-Regular.ttf);
}

@font-face{
	font-family: inter;
	src: url(fontes/Inter-Regular.ttf);
}

html,main{
    width: 100%;
    height: auto; 
    background-color: #fff;
}

body{
    overflow-x: hidden;
}


/********************** header *******************/

header a {
    color: #9D6BFF;
    text-decoration: none;
    transition: 0.3s;
}
  
header a:hover {
    opacity: 0.7;
}
  
.logo {
    font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 46px;
    padding-left: 35px;
}

.logo:hover{
    transform: scale(1.1);
    transition: all 1s; 
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inder;
    background: #fff;
    height: 17vh;
    font-family: inder;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}
  
.login{
    font-size: 20px;
    padding: 1.0vh 4vw 1.0vh 4vw;
    background-color: #9D6BFF;
    color: white;
    border-radius: 5px;
    font-family: 'Inder';
    cursor: pointer;
    margin-right: 35px;
}

.login:hover{
    transform: scale(1.1);
    transition: all 1s;
}
  
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    margin-left: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #D9D9D9;
    margin: 8px;
    transition: 0.3s;
}

.nav-list active{
    position: absolute;
}
  


/********************** fim da header *******************/










































/*************acessibilidade************/



#acessibilidade{
    position: fixed;
    width: 3%;
    height: 55px;
    background-color: #FFF;
    right: 0%;
    top: 240px;
    border-radius: 100% 0 0 100%;
    border: 1px solid #616161;
    cursor: pointer;
    visibility: visible;
    z-index: 4;
  }

  #acessibilidade img{
    margin-left: 5px;
    margin-top: 10px;
    width: 80%;
  }

  #acessibilidade-hid{
    position: fixed;
    width: 3%;
    height: 250px;
    background-color: #fff;
    right: 0%;
    top: 240px;
    border-radius: 40px 0px 0 40px;
    border: 1px solid #616161;
    visibility: hidden;
    z-index: 5;
  }

  #acessibilidade-hid img{
    display: block;
    margin-left: 10%;
  }

  .acess1{
    width: 80%;
    padding-top: 20px;
    cursor: pointer;
  }

  .acess2{
    width: 70%;
    padding-left:4px;
    padding-top: 10px;
  }

  .acess3{
    width: 50%;
    padding-left: 6px;
    padding-top: 10px;
  }

  .acess4{
    width: 70%;
    padding-top: 10px;
    padding-left: 2px;
  }

  .acess5{
    width: 70%;
    padding-top: 10px;
    padding-left: 2px;
  }

  .acess6{
    width: 70%;
    padding-top: 8px;
    padding-left: 2px;
    cursor: pointer;
  }




















/***********fim da acessibilidade************/














/********************** home *******************/


.divisoria{
    position: relative;
    width: 100%;
    height: 50px;
}


.text-home{
    position: relative;
    float: left;
    width: 35%;
    height: auto;
    padding-left: 60px;
    padding-top: 80px; 
}
 
.text-home h1{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 46px;
    color: #9D6BFF;
    padding-bottom: 50px;
}

.text-home p{
    font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #8E8E8E;
}

.image-home{
    position: relative;
    float: right;
    width: 50%;
    height: auto;
    padding-right: 20px;
}

.image-home img{
    width: 95%
}

.image-home-two{
    width: 45%;
    height: auto;
    float: left;
    padding-left: 40px;
    padding-top: 60px;
}

.image-home-two img{
    width: 90%;
}

.text-home-two{
    float: right;
    position: relative;
    width: 40%;
    height: auto;
    padding: 70px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #8E8E8E;
}


/********************** fim da home *******************/



/********************** área de opções *******************/




#container-options{
    position: relative;
    width: 100%;
    height: auto;
    clear: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    font-family: inter;

}

#option-podcast{
    width: 284px;
    height: 190px;
    text-align: center;
    background: linear-gradient(262.98deg, #EEEEEE 23.77%, rgba(238, 238, 238, 0) 96.86%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#option-podcast a{
    color: #6B2CE8;
    text-decoration: none;
}

#option-podcast:hover{
    transform: scale(1.1);
    opacity: 90%;
    transition:  1s;
}


#option-videos{
    width: 284px;
    height: 190px;
    text-align: center;
    background: linear-gradient(260.8deg, #EEEEEE 33.76%, rgba(238, 238, 238, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#option-videos a{
    color: #6B2CE8;
    text-decoration: none;
}

#option-videos:hover{
    transform: scale(1.1);
    opacity: 90%;
    transition:  1s;
}

#option-artigos{
    width: 284px;
    height: 190px;
    text-align: center;
    background: linear-gradient(240.49deg, #9D6BFF 32.96%, #8166B8 68.07%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#option-artigos a{
    color: #FFF;
    text-decoration: none;
}

#option-artigos:hover{
    transform: scale(1.1);
    opacity: 90%;
    transition:  1s;
}

#option-noticias{
    width: 284px;
    height: 190px;
    text-align: center;
    background: linear-gradient(260.8deg, #EEEEEE 33.76%, rgba(238, 238, 238, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#option-noticias a{
    color: #6B2CE8;
    text-decoration: none;
}

#option-noticias:hover{
    transform: scale(1.1);
    opacity: 90%;
    transition:  1s;
}

#option-noticias img{
    width: 50px;
    height: 50px;
}


/********************** fim da área de opções *******************/






/********************** área de postagens *******************/

.fundo{
    width: 100%;
    background: url("imagens/deco1.png") no-repeat, url("imagens/deco2.png") no-repeat right, url(imagens/deco1.png) no-repeat  bottom left;
    
}

#container-comments{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 50px;
    margin: auto;
    z-index: 2;
}

.comment-box{
    width: 92%;
    height: auto;
    background: #F1F1F1;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 5%;
}

.icon-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-name h3{
    padding-left: 15px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}

.text-comment p{ 
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
    padding: 20px;
}

.img-comment {
    text-align: center;
}

.img-comment img{
    width: 90%;
}




/********************** fim da área de postagens *******************/


/********************** footer *******************/

.footer{
    width: 100%;
    height: auto;
    background-color: #9D6BFF;
    font-family: inter;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.footer a{
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer h1{
    padding-bottom: 20px;
    padding-top: 50px;
}

.plataforma{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}

.social{
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contato{
    width: 24%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.elementos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elementos img{
    padding-right: 10px;
}

.img-footer{
    width: 25%;
    height: 100%;
}

.img-footer{
    width: 25%;
}

/********************** fim do footer *******************/


/********************** responsivo *******************/

@media only screen and (max-width:1206px){  
   
    .home p{
        display: none;
    }

    .image-home-two{
        display: none;
    }
  
    .text-home{
        float: none;
        text-align: center;
        width: 100%;
        padding: 0;
    }
  
    .image-home{
        float: none;
        margin: auto;
        width: 90%;
    }

    .img-footer{
        display: none;
    }
}





@media only screen and (max-width:900px){  

    

    #container-options{
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .plataforma{
        display: none;
    }

    .footer{
        flex-direction: column;
        padding-left: 20px;
    }

    .contato h1{
        padding-top: 10px;
    }

    #option-podcast{
        margin-bottom: 30px;
    }

    #option-videos{
        margin-bottom: 30px;
    }

    #option-artigos{
        margin-bottom: 30px;
    }

}
   
@media (max-width: 999px) {
    #acessibilidade{
        height: 40px;
        top: 200px;
        width: 40px;}

#acessibilidade img{
        margin-left: 5px;
        margin-top: 5px;
        width: 80%;}

#acessibilidade-hid{
        width: 5%;
        height: 190px;
        top: 200px;
        border-radius: 60px 0px 0 40px;}

#acessibilidade-hid img{
        margin-left: 20%;
        width: 23px;}

    .fundo{
        background: none;
    }

    body {
      overflow-x: hidden;
    }

    nav{
        height: 12vh;
    }

    .nav-list {
      position: absolute;
      top: 11.9vh;
      right: 0;
      width: 50vw;
      height: 42vh;
      background: #F6F5F5;
      z-index: 2;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    
    .login{
        margin-right: 0;
    }

    .nav-list li a:hover{
        background-color: darkgray;
    
}
    
    .nav-list li {
      margin-left: 0;
      opacity: 0;
      
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
    position: absolute;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
     transform: rotate(-45deg) translate(-8px, 8px);
    }
  
  .mobile-menu.active .line2 {
     opacity: 0;
    }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

