@font-face {
    font-family: Inder;
    src: url(Fontes/Inder/Inder-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(Fontes/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(Fontes/Inter-Regular.ttf);
}

*{
    margin:0;
    border: 0;
    padding: 0;
}

body{
    background-image: url(img/background-login.png);
    background-size:cover;
    text-align: center;
}

#login{
    position: relative;
    width: 30%;
    height: 550px; 
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: #F0F0F0;
    z-index: 2;
  }
  
  #login_img img{
    position: relative;
    margin-top: 25px;
  }
  
  .novamente{
    position: relative;
    font-size: 33px;
    font-weight: lighter;
    color: #9C9C9C;
    margin-top: -30px;
    font-family:Poppins;
    text-decoration: none;
  }
  
  .novamente a{
  text-decoration: none;
}

  .novamente a:hover{
    text-decoration: none;
    color: black;
  }

  .novamente span{
    color: #9D6BFF;
    text-decoration: none;
  }

  #acessibilidade{
    position: fixed;
    width: 3%;
    height: 55px;
    background-color: #FFF;
    right: 0%;
    top: 250px;
    border-radius: 100% 0 0 100%;
    border: 1px solid #616161;
    cursor: pointer;
    visibility: visible;
    z-index: 4;
  }

  #acessibilidade img{
    margin-left: 5px;
    margin-top: 10px;
    width: 80%;
  }

  #acessibilidade-hid{
    position: fixed;
    width: 3%;
    height: 250px;
    background-color: #fff;
    right: 0%;
    top: 230px;
    border-radius: 40px 0px 0 40px;
    border: 1px solid #616161;
    visibility: hidden;
    z-index: 5;
  }

  #acessibilidade-hid img{
    display: block;
    margin-left: 10%;
  }

  .acess1{
    width: 70%;
    padding-top: 20px;
    padding-left: 2px;
    cursor: pointer;
    z-index: 1;
  }

  .acess1-fake{
    width: 70%;
    margin-top: -27.5px;
    padding-left: 2px;
    cursor: pointer;
    z-index: 9999;
    visibility: hidden;
  }

  .acess2{
    width: 68%;
    padding-left:4px;
    padding-top: 10px;
  }

  .acess3{
    width: 45%;
    padding-left: 5px;
    padding-top: 10px;
  }

  .acess4{
    width:65%;
    padding-top: 10px;
    padding-left: 2px;
  }

  .acess5{
    width: 65%;
    padding-top: 15px;
    padding-left: 2px;
  }

  .acess6{
    width: 70%;
    padding-top: 20px;
    padding-left: 2px;
    cursor: pointer;
  }
  
  .user input{
    width: 72%;
    font-size: 19px;
    margin-top: 60px;
    padding: 10px 0 10px 10px;
    border: 1px solid #575757;
    border-radius: 10px;
  }
  
  .password input{
    width: 72%;
    font-size: 19px;
    margin-top: 20px;
    padding: 10px 0 10px 10px;
    border: 1px solid #575757;
    border-radius: 10px;
  }
  
  #user::placeholder{
    color: #8B8B8B;
  }
  
  #password::placeholder{
    color: #8B8B8B;
  }
  
  .forget_password{
    font-family:Inter;
    text-align: left;
    margin-left: 13%;
    margin-top: 30px;
    cursor: pointer;
    color: black;
  }
  
  .forget_password:hover{
    color: rgb(35, 160, 255);
  }
  
  .line hr{
    width: 70%;
    margin: auto;
    height: 0.5px;
    margin-top: 23px;
    background-color: #A9A9A9;
  }
  
  .sign-in{
    width: 30%;
    margin-top: 30px;
    margin-left: 35%;
    cursor: pointer;
    color: black;
    font-family: Inter;
    text-decoration: none;
  }
  
  .sign-in a:hover{
    color: rgb(35, 160, 255);
  }
  
  .button input{
    width: 25%;
    background-color: #E9E9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    font-size: 16px;
    padding: 8px 20px 8px 20px;
    margin-top: 25px;
    cursor: pointer;
    color: #9D6BFF;
  }
  
  .button input:hover{
    transform: scale(1.2);
    transition: 1s all;
    background-color: #9D6BFF;
    color: #E9E9E9;
  }

  /* ---- */

  #cadastro{
      position: absolute;
      width: 60%;
      height: 600px;
      background-color: #F0F0F0;
      margin: auto;
      z-index: 3;
      margin-top: -575px;
      margin-left: 20%;
      border-radius: 20px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
      visibility: hidden;
  }

  .create-acc{
      font-size: 32px;
      font-family: Inter;
      color:#9D6BFF;
      text-align: left;
      margin-left: 10%;
      margin-top: -25px;
  }

  .user2{
      width: 73.5%;
      height: 60px;
      font-family: Inter;
      font-size: 18px;
      float: left;
      margin-left: 10%;
      margin-top: 15px;
      padding-left: 1.5%;
      border-radius: 10px;
      border: 1px solid #575757;
  }

  .password2{
      width: 73.5%;
      height: 60px;
      font-family: Inter;
      font-size: 18px;
      float: left;
      margin-left: 10%;
      margin-top: 15px;
      padding-left: 1.5%;
      border-radius: 10px;
      border: 1px solid #575757;
  }
  
  .birth-date{
    clear: both;
    text-align: left;
    margin-left:10%;
    font-size: 32px;
    font-family: Inter;
    color:#9D6BFF;
    margin-top: 190px;
  }

  .inputs3{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
  }

  .month{
      width:25% ;
      font-family: Inter;
      font-size: 18px;
      margin-left: 10%;
      margin-top: 15px;
      padding-left: 1%;
      border-radius: 10px;
      border: 1px solid #575757;
  }

  .day{
      width: 12%;
      font-family: Inter;
      font-size: 18px;
      margin-left: 4%;
      margin-top: 15px;
      padding-left: 1%;
      border-radius: 10px;
      border: 1px solid #575757;
  }

  .year{
    width: 12%;
    font-family: Inter;
    font-size: 18px;
    margin-left: 4%;
    margin-top: 15px;
    padding-left: 1%;
    border-radius: 10px;
    border: 1px solid #575757;
  }

  #checkbox{
    float: left;
    width: 22%;
    height: 15px;
    margin-top: 40px;
  }

  .check span{
    float: left;
    margin-top: 38px;
    margin-left: -90px;
    font-size: 17px;
    font-family: Inter;
  }
  
  .button2{
    width: 20%;
    clear: both;
    display: block;
    margin-left: 42%;
  }

  .button2 input{
    width: 75%;
    height: 40px;
    font-family: Inter;
    font-size: 20px;
    background-color:#E9E9E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.47);
    color: #9D6BFF;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
  }

  .button2 input:hover{
    background-color: #9D6BFF;
    color: white;
    transition: 1s all;
  }

  #fechar{
    position: absolute;
    right: 2%;
    font-family: Inder;
    top: 15px;
    cursor: pointer;
  }

  /* ---- */

  #set_the_password{
    position: absolute;
    width: 30%;
    height: 550px;
    background-color:#F0F0F0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    top: 100px;
    border-radius: 20px;
    margin-left: 35%;
    z-index: 4;
    visibility: hidden;
  }

  .p1{
    font-size: 25px;
    font-family: Inter;
    color: #9D6BFF;
  }

  .p2{
    color: #626262;
    font-family: Inter;
    margin-top: 40px;
  }

  #sendemail{
    position: relative;
    font-family: Inter;
    border-radius: 10px;
    width: 70%;
    font-size: 18px;
    margin-top: 60px;
    padding: 15px 0 15px 2%;
    border: 1px solid #575757;
  }

  #button3{
    display: block;
    font-size: 20px;
    font-family: Inter;
    text-align: center;
    margin-top: 90px;
    margin-left: 33%;
    padding: 15px 10% 15px 10%;
    border-radius: 10px;
    background-color: #9D6BFF;
    color: white;
    cursor: pointer;
  }

  #button3:hover{
    transform: scale(1.1);
    color: #9D6BFF;
    background-color: white;
    transition: 1s all;
  }
  
  #fechar2{
    position: absolute;
    right: 4%;
    font-family: Inder;
    top: 15px;
    cursor: pointer;
  }

  #set_the_password2{
    position: absolute;
    width: 50%;
    height: 550px;
    background-color:#F0F0F0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    top: 100px;
    border-radius: 20px;
    margin-left: 25%;
    z-index: 5;
    visibility: hidden;
  }

  .p3{
    font-size: 25px;
    font-family: Inter;
    color: #9D6BFF;
    margin-top: 100px;
  }

  .p4{
    font-size: 18px;
    font-family: Inter;
    text-align: left;
    margin-left: 23.2%;
    margin-top: 40px;
  }

  #choose{
    width: 50%;
    display: block;
  }

  #choose_password{
    display: block;
    position: relative;
    font-family: Inter;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 45%;
    padding-left: 1.5%;
    border: 1px solid #575757;
  }

  #repeat_password{
    position: relative;
    font-family: Inter;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 45%;
    padding-left: 1.5%;
    border: 1px solid #575757;
  }

  #button4{
    display: block;
    font-size: 20px;
    font-family: Inter;
    text-align: center;
    margin-top: 90px;
    margin-left: 81%;
    width: 35%;
    height: 50px;
    /* padding: 15px 10% 15px 10%; */
    border-radius: 10px;
    background-color: #9D6BFF;
    color: white;
    cursor: pointer;
  }

  #button4:hover{
    transform: scale(1.1);
    color: #9D6BFF;
    background-color: rgb(255, 255, 255);
  }

  @media only screen and (min-width:375px){
    @media only screen and (max-width: 658px){

      #acessibilidade{
        display: none;
      }

      #login{
        width: 87%;
      }

      #set_the_password {
        position: absolute;
        width: 88%;
        height: 550px;
        background-color: #F0F0F0;
        box-shadow: 0px 10px 20px rgb(0 0 0 / 25%);
        border-radius: 20px;
        left: 6%;
        margin: auto;
        z-index: 2;
    }
      .p2{
         color: #626262;
         font-family: Inter;
         margin-top: 50px;
         WIDTH: 75%;
         margin: auto;
         position: relative;
    }

      .p1{
        margin-bottom: 20px;
      }

      .p3{
        font-size: 23px;
      }

      .p4{
        margin-left: 20.2%
      }

      #set_the_password2 {
        position: absolute;
        width: 88%;
        height: 550px;
        background-color: #F0F0F0;
        box-shadow: 0px 10px 20px rgb(0 0 0 / 25%);
        top: 100px;
        border-radius: 20px;
        left: -19%;
        z-index: 5;
        visibility: hidden;
      }

      #button4{
        width: 63%;
        margin-left: 64%;
      }

      #cadastro{
        width: 88%;
        height: auto;
        left: -14%;
      }

      .inputs3{
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: column;
      }

      .month{
        width: 72%;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .day{
        margin-left: 10%;
        width: 72%;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .year{
        margin-left: 10%;
        width: 72%;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .check span{
        margin-top: 102px;
        margin-left:-6%;
      }

      #checkbox{
        margin-top: 104px;
        margin-left: 4%;
      }

      .button2 input{
        width: 170%;
        margin-left: -56%;
      }
}
  }

  
