*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
  
img{                        width: 100%; }
  
  
header{
                            position: absolute;
                            font-family: 'Poppins', sans-serif;
                            top: 0;
                            width: 100%;
                            height: 90px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between; }
    
.div-header{                width: 100%;}
  
.logo{
                            color:#315A94;
                            position: relative;
                            float: left;
                            padding-top: 20px;
                            margin-left:50px;
                            font-size: 30px;
                            cursor: pointer;}
    
.logo:hover{
                            transform: scale(1.1);
                            transition: all 1s;}
    
nav{
                            width: 50%;
                            padding-top:20px;
                            margin-left: 20%;
                            font-family: 'Inder', sans-serif;}
    
nav a{
                            justify-content:space-between;
                            margin-right: 5%;
                            font-size: 20px;
                            color: #5E17EB;
                            cursor: pointer;
                            text-decoration: none;}
    
nav a:hover{
                            color: #f7f7f7;
                            transition: 0.5s;}
    
.Login{
                            width: 100px;
                            height: 30px;
                            font-size: 20px;
                            background-color: #5E17EB;
                            color: white;
                            border-radius: 6px;
                            font-family: 'Inder', sans-serif;
                            cursor: pointer;}
    
.Login:hover{
                            transform: scale(1.1);
                            opacity: 90%;
                            transition:  1s;}
    
.mente-roxo{
                            color: #5E17EB;}

                        /*----------------------ASIDE FOTOS------------------------*/
.fotos{
                            display: flex;
                            justify-content: space-evenly;
                            margin-top: 150px;
                            width: 100%}
                        
.fotos img:nth-child(2){
                            width: 50vw;
                            height: 650px;
                            margin-top: -100px;}
                        
.fotos img:nth-child(1){
                            width: 50vw;
                            height: 500px;
                            margin-top: 20px;
                            padding-left: 30px;}
                        
.texto h2 {
                            position: absolute;
                            left: 800px;
                            top:300px;
                            font-family: 'Inder';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 42px;
                            line-height: 52px;
                            color: #9D6BFF;}
                        
.texto p {
                            position: absolute;
                            left: 789px;
                            top:400px;
                            font-family: 'Inder';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 23px;
                            color: #000000;
                            width: 40%;
                            margin-left: auto;
                            margin-right: auto;}

                        /*----------------------SECTION TEXTO2------------------------*/

.texto2{
                            text-align: center;
                            margin-top: 150px;}

.texto2 h1{
                            font-weight: normal;
                            color: #9D6BFF;
                            font-size: 42px;
                            font-family: 'Inder', sans-serif;
                            line-height: 50px;}
.texto2 p{
                            text-align: left;
                            margin-left: 5%;
                            width: 90%;
                            font-family: 'Inder', sans-serif;
                            font-size: 24px;
                            line-height: 30px;
                            font-style: normal;
                            margin-top: 50px;}

.texto2 img{
                            margin-top: 300px;
                            width: 90%;
                            align-items: center;
                            justify-content: center;}


  /*-------------------------INICIO DO FOOOTER---------------------------*/
  
  .sec_footer{              background: #9D6BFF;
                            height: auto;}

.palavras-footer{
                            width: 68%;
                            display: flex;
                            flex-direction: row;
                            float: left;
                            justify-content: space-around;}
      
.palavras-footer h3{    
                            font-size: 25px;
                            font-family: Inder;
                            color: white;
                            font-weight: bolder;
                            margin-top: 60px;}
      
.palavras-footer p{
                            width: 100%;
                            text-align: left;
                            color: white;
                            font-size: 19px;
                            margin-left: 13%;
                            padding: 7px;
                            font-family: Inder;}
      
.plataforma{                margin-left: 5%;}
      
.plataforma h3{             margin-bottom:20px;}
      
.plataforma a{
                            width: 100%;
                            display: block;
                            text-align: left;
                            color: white;
                            font-size: 19px;
                            margin-left: -3%;
                            padding: 7px;
                            font-family: Inder;}
      
.plataforma a:hover{
                            color: #0b0020;
                            cursor: pointer;}
      
.social{                    margin-left: 5%;}
      
.social h3{                 margin-bottom: 20px;}
      
.social a{
                            width: 100%;
                            display: block;
                            text-align: left;
                            color: white;
                            font-size: 19px;
                            margin-left: 13%;
                            padding: 7px;
                            font-family: Inder;}
      
.social a:hover{
                            color:#0b0020;
                            cursor: pointer;}
      
.social img{
                            float: left;
                            margin-top: 25px;
                            margin-right: 5%;
                            width: 25px;
                            height: 25px;}
      
.contato{                   width: 30%;}
      
.contato h3{
                            margin-bottom: 20px;
                            margin-left: 30%;}
      
.contato a{                 
                            padding-left: 0%;
                            text-decoration: none;
                            color: #fff;}
      
.contato img{
                            float: left;
                            margin-top: 5px;
                            margin-left: 30%;
                            margin-right: 2%;
                            width: 25px;
                            height: 25px;}

.contato .img18 img {
                            margin-left: -35px;
                            margin-top:70px;}    

.contato .img18 a{
                            text-decoration: none;
                            color: #fff;
                            position: absolute;
                            margin-left:0px;
                            padding-top:70px;}

.ptd_nav{
                            width: 65%;
                            display: flex;
                            flex-direction: row;
                            margin-left: 7%;
                            justify-content: space-between;
                            color: white;
                            font-size: 15px;
                            font-family: Inder;}
      
.ptd a{
                            margin-top: 0px;
                            font-weight: bold;
                            cursor: pointer;}
      
.ptd a:hover{               color: #0b0020;} 

.ptd .img13 img{
                            padding-top: 80px;
                            width: 500px;
                            margin-left: -70px;}