*{
    border:0;
    padding: 0;
    margin:0;
}
  
@font-face{
	font-family: inder;
	src: url(fontes/Inder-Regular.ttf);
}

@font-face{
	font-family: poppins;
	src: url(fontes/Poppins-Regular.ttf);
}

@font-face{
	font-family: inter;
	src: url(fontes/Inter-Regular.ttf);
}

body{    
    overflow-x: hidden;
}

header a {
    color: #9D6BFF;
    text-decoration: none;
    transition: 0.3s;
}
  
header a:hover {
    opacity: 0.7;
}
  
.logo {
    font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 46px;
    padding-left: 35px;
}

.logo:hover{
    transform: scale(1.1);
    transition: all 1s; 
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inder;
    background: #fff;
    height: 17vh;
    font-family: inder;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}
  
.login{
    font-size: 20px;
    padding: 1.0vh 4vw 1.0vh 4vw;
    background-color: #9D6BFF;
    color: white;
    border-radius: 5px;
    font-family: Inder;
    cursor: pointer;
    margin-right: 35px;
}

.login:hover{
    transform: scale(1.1);
    transition: all 1s;
}
  
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    margin-left: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #D9D9D9;
    margin: 8px;
    transition: 0.3s;
}

.nav-list active{
    position: absolute;
}

/****************corpo*******************/

.politica{
    width: 90%;
    margin: auto;
}

.titulo{
    font-family: poppins;
    font-weight: 400;
    font-size: 55px;
    line-height: 82px;
    color: #6146D9;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.texto{
    font-family: inder;
}

.texto h2{
    color: #444444;
    padding-bottom: 20px;
}

.texto p{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #606060;
    padding-bottom: 15px;
}

.texto a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #9D6BFF;
}

ul{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #606060;
    padding-left: 25px;
}

.espacamento{
    padding-bottom: 15px;  
}

.bold{
    font-weight: bold;
}





/**************************************RESPONSIVO**********************/







@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }

    nav{
        height: 12vh;
    }

    .nav-list {
      position: absolute;
      top: 11.9vh;
      right: 0;
      width: 50vw;
      height: 42vh;
      background: #F6F5F5;
      z-index: 2;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    
    .login{
        margin-right: 0;
    }

    .nav-list li a:hover{
        background-color: darkgray;
    
}
    
    .nav-list li {
      margin-left: 0;
      opacity: 0;
      
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
    position: absolute;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
     transform: rotate(-45deg) translate(-8px, 8px);
    }
  
  .mobile-menu.active .line2 {
     opacity: 0;
    }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}